HTML, body {
    height: 100%;
    line-height:25px;
    background:lightgray;
}

h1 {
    margin: 0 auto;
    text-align: center;
}

p {
    padding:0px 5px;
}

.navbar {
    padding:15px;
    background:#23B0A8;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;

}

.navbar-link {
    margin: 0 5px;
    color:white;
    text-decoration: none;
    padding:8px;
    border:2px solid white;
}

.navbar-link:hover {
    margin: 0 5px;
    color:white;
    text-decoration: none;
}

.header {
    /*vh means viewport height
      so its 50% of the screen height :) */
    height:60vh;
    /*keeps items vertically aligned*/
    -webkit-align-items: center;    
    -ms-flex-align: center;    
    align-items: center;    
    display: -webkit-flex;    
    display: flex; 

    text-align:center;
    background: url("../../src/images/mountains.jpg");
    /*background:url("http://i.imgur.com/67v96aC.jpg");*/
    background-size:cover;
    background-attachment:fixed;
    background-position:bottom;
    margin-bottom:40px;
    box-shadow: 0px 5px 15px gray;
}

.header-title {
    font-size:4em;
    color:white;
}

.blog {
    margin: 0px auto;
    max-width:700px;
    padding:50px;
    background:white;
    box-shadow: 0px 5px 15px gray;
}

.blog-preview {
    margin: 30px auto;
        box-shadow: 0px 5px 15px gray;
}

.blog-title {
    margin: 50px 0px 0px 0px;
}

.blog-subtitle {
    font-size:1.6em;
    color:gray;
    margin:24px 0px;
    text-align: center;
}

.blog-button {
    padding:10px;
    color:red;
    background:none;
    border: 3px solid red;
    font-size:1.4em;
    font-weight:bold;
    width:80%;
    margin: 0 auto;
    transition:all 400ms;
}

.blog-button:hover {
    color:white;
    background:red;
    box-shadow: 0px 5px 15px gray;
}

.inverted-button {
    background:red;
    color:white;
}

.footer {
    color:white;
    background:#333;
    padding:50px 20px;
    /*position: fixed;
    left:0px;
    right:0px;
    bottom:0px;*/

}


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 1024px) {
    .header {
        height:100vh;
    }
    .blog-body {
        font-size: 22px;
        line-height: 1.5;
    }

    .blog { 
        padding: 50px 20px;
    }
}