HTML, body {
    height: 100%;
    line-height:25px;
    background:lightgray;
    font-family: Raleway;
}

h1 {
    margin: 0 auto;
    text-align: center;
}

p {
    padding:0px 5px;
}

.navbar {
    padding:15px;
    /*background:#23B0A8;*/
    position:fixed;
    top:0px;
    left:0px;
}

.navbar-link {
    margin: 0 5px;
    color:white;
    text-decoration: none;
    padding:8px;
    border:2px solid white;
}

.navbar-link:hover {
    margin: 0 5px;
    color:white;
    text-decoration: none;
}

.header {
    /*vh means viewport height
      so its 50% of the screen height :) */
    height:100vh;
    /*keeps items vertically aligned*/
    -webkit-align-items: center;    
    -ms-flex-align: center;    
    align-items: center;    
    display: -webkit-flex;    
    display: flex; 

    text-align:center;
    background: url("../../src/images/red-moon.png");
    background-size:cover;
    background-attachment:fixed;
    background-position:left center;
    box-shadow: 0px 5px 15px gray;
    overflow:hidden;
}

.header-title {
    font-size:8em;
    color:white;
}

.header-subtitle {
    font-size:3em;
    color:white;
}

.blog {
    margin: 0px auto;
    max-width:700px;
    padding:50px;
    background:white;
    box-shadow: 0px 5px 15px gray;
}

.blog-preview {
    margin: 30px auto;
    box-shadow: 0px 5px 15px gray;
}

.blog-container {
    height: 100vh;
    overflow:auto;
}

.blog-title {
    margin: 50px 0px 0px 0px;
}

.blog-subtitle {
    font-size:1.6em;
    color:gray;
    margin:24px 0px;
    text-align: center;
}

.blog-body {
    font-size:24px;
    line-height:1.3;
}

.blog-date {
    font-size:20px;
    color:#EA1646;
}

.blog-add {
    display:block;
    margin:10px;
}

.blog-label {
    padding-left:10px;
}

.blog-button {
    padding:10px;
    color:#EA1646;
    background:none;
    border: 3px solid #EA1646;
    font-size:1.4em;
    font-weight:bold;
    width:80%;
    margin: 0 auto;
    transition:all 400ms;
}

.blog-button:hover {
    color:white;
    background:#EA1646;
    box-shadow: 0px 5px 15px gray;
}

.inverted-button {
    background:#EA1646;
    color:white;
}

input[type=text], textarea {
    font-size:2em;
    color:gray
}

textarea {
    min-height:300px;
    width:80%;
    max-width:80%;
}

.footer {
    color:white;
    background:#333;
    padding:50px 20px;
    /*position: fixed;
    left:0px;
    right:0px;
    bottom:0px;*/
}

.row, .col-md-6 {
    padding: 0px;
    margin:0px;
}

a, a:hover {
    text-decoration: none;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 1024px) {
    .header {
        height:100vh;
    }
    .blog-body {
        font-size: 20px;
        line-height: 1.5;
    }

    .blog { 
        padding: 50px 20px;
    }

    .blog-preview {
        margin:0px;
    }

    .blog-container {
    height: auto;
    }
}